@use 'variables' as *;

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $bp-md) {
    max-width: 720px;
    padding: 1.5rem;
  }
  @media (min-width: $bp-lg) {
    max-width: 1024px;
  }
  @media (min-width: $bp-xl) {
    max-width: 1240px;
  }
}

@mixin btn-base($bg, $color: #fff) {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  background: $bg;
  color: $color;
}
