@use 'variables' as *;

.header-style {
  font-size: 6rem;
  font-weight: 700;
  .phin {
    color: #f10962;
  }
}

.brand-logo-flex {
  display: flex;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-bg {
  background-color: $grey-200;
  border-radius: 0.5rem;
}

.icon-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-width {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: $grey-200;
  border-radius: 0.5rem;
  line-height: 1.7;
  font-family: $tag-font;
  h3 {
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.page-nav-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  ul {
    margin-bottom: 3rem;
  }
  li {
    line-height: 2;
  }
}
