$app-BG: #f9f9f9;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$font-color: #212121;
$button-color: #3d5afe;
$button-secColor: #00e676;

$title-font: "Gruppo", sans-serif;
$heading-font: "Montserrat", sans-serif;
$content-font: "Poppins", sans-serif;
$tag-font: "Lato", sans-serif;
$small-text-font: "Lato", sans-serif;
$special-font: "Dancing Script", cursive;

// breakpoints (mobile-first)
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
