@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gruppo&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}
